

#navbar{
    width: 1007px;
}
#navbar ul {
    flex-direction: column;
    /* margin: 1px; */
    padding: -51px;
    height: 251px;
}

#navbar ul li{
    margin: -5px;
}

.nav{
    display: block;
}

#logo img{
        /* flex-direction: column; */
        display: block;
        margin: auto;
        border: 2px solid white;
        border-radius: 46px;
        margin-top: 8px;
        margin-left: -10px;
        
}

#title{
    margin: 0px;
    height: 598px;
    /* align-items: center; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: -10px;
    width: 1007px;
}

#row1{
    height: 610px;
    width: 1007px;
}

#intro img{
    width: 414px;
    height: 397px;
    margin-top: 26px;
}

#row2{
    height: 610px;
    width: 1007px;
}
.paragraph2{
    margin-top: 70px;
}
.paragraph2 img{
    width: 430px;
    height: 400px;
}

#row3{
    height: 610px;
    width: 1007px;
}

#intro3 img{
    width: 400px;
    height: 400px;
}


#row4{
    height: 764px;
    width: 1007px;
}
#intro4 h1{
    margin-top: 210px;
}
.paragraph4{
    margin: 0px;
    margin-top: 206px;
    
}
.paragraph4 img{
    height: 400px;
    width: 400px;
}

#row5{
    height: 610px;
    width: 1007px;
}

#intro5 img{
    height: 400px;
    margin-top: 51px;
    width: 400px;
    margin-left: -79px;
}

#row6{
    height: 610px;
    width: 1007px;
}
#contact{
    width: 1007px;
}

